<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Email Verification</h5>
              <p class="card-text text-center">
                Your email is verified successfully. Now you can login to your
                account.
              </p>
              <!-- <a href="#" class="btn btn-primary btn-block">Login</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
